@if (isAddingTask()) {
<app-new-task [userId]="userId()" (cancel)="onCancelAddTask()" />
}

<div class="tasks-container">
  <div class="sort-controls">
    <button (click)="toggleSort()" [class.active]="sortDirection() !== null">
      <div class="sort-arrows">
        <i
          class="fas fa-sort-up"
          [class.active]="sortDirection() === 'asc'"
        ></i>
        <i
          class="fas fa-sort-down"
          [class.active]="sortDirection() === 'desc'"
        ></i>
      </div>
      Sort {{ sortDirection() === "asc" ? "Descending" : "Ascending" }}
    </button>
  </div>

  <section id="tasks">
    <header>
      <h2>{{ name() }}'s Tasks</h2>
      <menu>
        <button (click)="onAddTask()">Add Task</button>
      </menu>
    </header>
    <ul class="tasks-list">
      @for (task of selectedUserTasks; track task.id) {
      <li>
        <app-task [task]="task" />
      </li>
      }
    </ul>
    @if (selectedUserTasks.length === 0) {
    <p id="no-tasks">No tasks found.</p>
    }
  </section>
</div>
